
# Ignore raw data and outputs
data_tnm_full.csv
results/
resluts_archive/

# Ignore temporal R-data
.Rhistory
.RData
.Rproj.user/
.MUST.Rproj

# Ignore copyright mapping tables
mapping_table_R_loc_MUST.csv
mapping_uicc_original.csv
mapping_uicc_additional.csv